
.title-sheet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Цвет фона вашего титульного листа */
    color: #333; /* Цвет текста */
  }
  
  .title-sheet h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .title-sheet p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .title-sheet button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  
 
  .app {
    display: none;
    padding: 20px;
    background-color: #f0f0f0; /* Цвет фона основного контента */
    /* Добавьте дополнительные стили для основного контента, если это необходимо */
  }
  
  body {
    margin: 0; /* Убираем внешний отступ у body */
    overflow: hidden; /* Запрещаем показ скролл-бара */
  }
  
  /* Стили для title-sheet и основного контента (main-content) */
  .title-sheet,
  .app {
    height: 100vh; /* Высота экрана */
    overflow-y: auto; /* Разрешаем вертикальный скролл, если контент не помещается на экране */
    scroll-behavior: smooth; /* Плавная прокрутка */
  }
  